{% if currencies|length > 1 %}
<div id="currency" class="curency">
  <div class="mobile-info-title d-lg-none"><strong>{{ text_currency }}</strong></div>
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
    <div class="btn-group h-100">
      <button class="btn btn-lang btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% for currency in currencies %}
      {% if currency.symbol_left and currency.code == code %} <strong>{{ currency.symbol_left }}</strong> {% elseif currency.symbol_right and currency.code == code %} <strong>{{ currency.symbol_right }}</strong> {% endif %}
      {% endfor %} <span>{{ text_currency }}</span><i class="fas fa-chevron-down"></i></button>
      <div class="dropdown-menu nav-dropdown-menu dropdown-menu-right">
        {% for currency in currencies %}
        {% if currency.symbol_left %}
          <button class="currency-select btn btn-block{% if currency.code == code %} active-item{% endif %}" type="button" name="{{ currency.code }}">{{ currency.symbol_left }} {{ currency.title }}</button>
        {% else %}
          <button class="currency-select btn btn-block{% if currency.code == code %} active-item{% endif %}" type="button" name="{{ currency.code }}">{{ currency.symbol_right }} {{ currency.title }}</button>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
</div>
{% endif %} 