{% if categories is not empty %}
<div class="row row-padding-top">
	<div class="col-lg-12">
		<div class="us-main-shop-title us-categories-wall-header">{{ heading_title }}</div>
	</div>
</div>
<div class="row us-categories-wall-row">
  {% for category in categories %}
  	<div class="col-md-6 col-lg-4 col-xl-3">
  		<div class="us-categories-wall-item">
  			<a href="{{ category.href }}" class="us-categories-wall-top-link">
  				{% if (category.thumb) %}
					<img src="{{ category.thumb }}"{% if oct_lazyload %} data-srcset="{{ category.thumb }} 100w" srcset="{{ oct_lazy_image }} 100w" sizes="100vw"{% endif %} class="us-categories-wall-img{% if oct_lazyload %} oct-lazy{% endif %}" alt="{{ category.name }}" title="{{ category.name }}" />
				{% endif %}
				<div class="us-categories-wall-title">{{ category.name }}</div>
			</a>
		    {% if category.children %}
  				<hr>
	    			<ul class="us-categories-wall-list list-unstyled">
					{% set countstop = 1 %}
					{% for child in category.children %}
						{% set countstop = countstop + 1 %}
				        <li class="us-categories-wall-child"><a href="{{ child.href }}" class="us-categories-wall-link">{{ child.name }}</a></li>
					{% endfor %}
			        {% if (countstop > limit) %}
			        <li class="oct-category-see-more"><a href="{{ category.href }}" class="us-categories-wall-btn"><i class="fas fa-long-arrow-alt-right"></i> {{ text_see_more }}</a></li>
			        {% endif %}
			    </ul>
		    {% endif %}
		</div>
	</div>
  {% endfor %}
</div>
{% endif %}
