{{ header }}
<div id="checkout-cart" class="container flex-container">
	{{ oct_breadcrumbs }}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="us-main-shop-title">{{ heading_title }}</h1>
		</div>
	</div>
	<div class="content-top-box">{{ content_top }}</div>
	{% if attention %}
	<script>
	usNotify('warning', '{{ attention }}');
	</script>
	{% endif %}
	{% if success %}
	<script>
	usNotify('success', '{{ success }}');
	</script>
	{% endif %}
	
	<div class="row">{{ column_left }}
	    {% if column_left and column_right %}
	    {% set class = 'col-sm-6' %}
	    {% elseif column_left or column_right %}
	    {% set class = 'col-sm-9' %}
	    {% else %}
	    {% set class = 'col-sm-12' %}
	    {% endif %}
	    <div id="content" class="{{ class }}">
		    <div class="us-content">
		    		<div class="us-cart-title">{{ heading_title }}{% if weight %} &nbsp;({{ weight }}) {% endif %}</div>
				<form action="{{ action }}" method="post" enctype="multipart/form-data">
					{% for product in products %}
				    <div class="us-cart-item d-flex align-items-center justify-content-between">
						<div class="us-cart-item-left d-flex align-items-center">
							<a href="javascript:;" class="us-cart-del" onclick="cart.remove('{{ product.cart_id }}');"><i class="fas fa-trash-alt"></i></a>
							{% if product.thumb %}<a href="{{ product.href }}" class="us-cart-item-img-link"><img src="{{ product.thumb }}" class="us-cart-item-img"  alt="{{ product.name }}" title="{{ product.name }}" /></a>{% endif %}
							<div class="us-cart-item-desc">
								<a href="{{ product.href }}" class="us-cart-item-link">{{ product.name }}</a>{% if not product.stock %}<span class="required">***</span>{% endif %}
								<ul class="us-product-info-list list-unstyled">
									{% if product.option %}
									{% for option in product.option %}
									<li class="us-product-info-item">{{ option.name }}: <span class="us-product-info-code">{{ option.value }}</span></li>
									{% endfor %}
									{% for voucher in vouchers %}
									<li>{{ voucher.description }}</li>
									<li class="input-group btn-block" style="max-width: 200px;">
						                  <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control" />
						                  <span class="input-group-btn">
						                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher.key }}');"><i class="fa fa-times-circle"></i></button>
						                  </span>
							          </li>
									  <li>{{ voucher.amount }}</li>
									  <li>{{ voucher.amount }}</li>
									  {% endfor %}
									  {% endif %}
										<li class="us-product-info-item">{{ column_model }}: <span class="us-product-info-code">{{ product.model }}</span></li>
										{% if product.reward %}
										<li class="us-product-info-item">{{ product.reward }}</li>
										{% endif %}
										{% if product.recurring %}
										<li class="us-product-info-item">{{ text_recurring_item }} <span class="us-product-info-code">{{ product.recurring }}</span></li>
										{% endif %}
								</ul>
							</div>
						</div>
						<div class="us-cart-item-right d-flex align-items-center">
							<div class="us-product-quantity">
								<div class="btn-group" role="group" aria-label="us-product-quantity">
									<button type="button" class="us-product-quantity-btn" onclick="$('#input-quantity-{{ product.cart_id }}').val(~~$('#input-quantity-{{ product.cart_id }}').val()-1);">-</button>
									<input type="text" id="input-quantity-{{ product.cart_id }}" class="form-control"  name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1">
									<button type="button" class="us-product-quantity-btn" onclick="$('#input-quantity-{{ product.cart_id }}').val(~~$('#input-quantity-{{ product.cart_id }}').val()+1);">+</button>
									<button type="submit" class="us-product-quantity-btn" title="{{ button_update }}"><i class="fas fa-sync-alt"></i></button>
								</div>
							</div>
							<div class="us-cart-item-right-desc">
								<div class="us-cart-price-all">{{ column_total }}: {{ product.total }}</div>
								<div class="us-cart-price-one">{{ column_price }}: {{ product.price }}</div>
							</div>
						</div>
					</div>
					{% endfor %}
					{% if error_warning %}
					<div class="us-cart-text-prompt">{{ error_warning }}</div>
					{% endif %}
					{% if modules %}
					<div class="us-cart-block">
						<div class="us-cart-title">{{ text_next }}</div>
						<div class="us-cart-text">{{ text_next_choice }}</div>
					</div>
					{% for module in modules %}
					{{ module }}
					{% endfor %}
					<script>
						$( document ).ready(function() {
							$('.us-cart-block-title').on('click', function() {
								$(this).toggleClass('clicked');
								$(this).next().toggleClass('opened');
							});
						});
					</script>
					{% endif %}
				</form>
				<div class="us-cart-block-total-wrapper d-flex align-items-center justify-content-between">
					<div class="us-cart-block-total-right">
						{% for total in totals %}
						<div class="us-cart-block-total text-right">
							<div class="us-cart-block-total-price">
								{{ total.title }}: <span>{{ total.text }}</span>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			    <div class="cart-btn-group text-right row-padding-top w-100">
			        <a href="{{ checkout }}" class="us-module-btn us-module-btn-green">{{ button_checkout }}</a>
			    </div>
		    </div>
	    </div>
	    {{ column_right }}
	</div>
	{{ content_bottom }}
</div>
{{ footer }} 