{{ header }}
<div id="product-product" class="container">
	{{ oct_breadcrumbs }}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="us-main-shop-title">{{ heading_title }}</h1>
		</div>
	</div>
	<div class="content-top-box">{{ content_top }}</div>
	<div class="row">
		<div id="content" class="col-12">
			<div class="us-product">
				<div class="us-product-top d-flex">
					{% if thumb or images %}
					<div class="us-product-left">
						{% if thumb %}
						<div class="us-product-photo-main mb-4">
							<div class="us-product-slide-box">
								<div class="us-product-slide">
									<a href="{{ popup }}" class="oct-gallery" onClick="return false;">
										<img src="{{ thumb }}" {% if oct_isMobile is defined and oct_isMobile %}width="380"{% endif %} class="img-fluid" alt="{{ heading_title }}" title="{{ heading_title }}" />
									</a>
								</div>
								{% for key,image in images %}
									{% set i = key + 1 %}
									{% if loop.index0 > 0 %}
									<div class="us-product-slide">
										<a href="{{ image.popup }}" class="oct-gallery" onClick="return false;">
											<img src="{{ image.thumb_slider }}" {% if oct_isMobile is defined and oct_isMobile %}width="380"{% endif %} class="img-fluid" alt="{{ heading_title }}" title="{{ heading_title }}" />
										</a>
									</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
						{% endif %}
						{% if images %}
						<div class="image-additional-box">
							<div id="image-additional" class="image-additional-list">
								{% for key,image in images %}
								{% set i = key + 1 %}
								<div class="image-additional-item">
									<a class="additional-gallery-item{% if key == 0 %} active{% endif %}" href="{{ image.popup }}" onClick="return false;" data-href="{{ image.thumb_slider }}">
										<img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
									</a>
								</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}
						<script>
							$(function () {
								setTimeout(function(){
							        $('.image-additional-box').addClass('overflow-visible');
									$('#image-additional').slick('refresh');
							    },500);

							    $('.us-product-slide-box').slick({
								    infinite: {% if images|length > 3 %}true{% else %}false{% endif %},
									slidesToShow: 1,
									slidesToScroll: 1,
									fade: false,
									draggable: false,
									asNavFor: '#image-additional',
									dots: false,
									arrows: false
								});

							    $('#image-additional').slick({
									infinite: {% if images|length > 3 %}true{% else %}false{% endif %},
									slidesToShow: 6,
									slidesToScroll: 1,
									focusOnSelect: true,
									asNavFor: '.us-product-slide-box',
									dots: false,
									prevArrow:"<button type='button' class='slick-prev pull-left'>‹</button>",
									nextArrow:"<button type='button' class='slick-next pull-right'>›</button>",
									responsive: [
								    {
								      breakpoint: 1600,
								      settings: {
								        slidesToShow: 4,
										slidesToScroll: 1
								      }
								    },
								    {
								      breakpoint: 480,
								      settings: {
								        slidesToShow: 3,
										slidesToScroll: 1
								      }
								    },
								    {
								      breakpoint: 376,
								      settings: {
								        slidesToShow: 2,
										slidesToScroll: 1
								      }
								    }
								  ]
								});
							});
						</script>
					</div>
					{% endif %}
					<div class="us-product-right d-flex flex-column">
						<div class="us-product-rating-wishlist d-flex align-items-center justify-content-between order-0">
							{% if review_status %}
							<div class="us-product-rating d-flex align-items-center">
								<div class="us-module-rating-stars d-flex align-items-center">
									{% for i in 1..5 %}
									{% if rating < i %}
									<span class="us-module-rating-star"></span>
									{% else %}
									<span class="us-module-rating-star us-module-rating-star-is"></span>
									{% endif %}
									{% endfor %}
								</div>
								<div class="us-product-top-reviews">{{ oct_product_reviews }} </div>
								<a href="javascript:;" onclick="scrollToElement('#us-product-page-reviews');" class="us-product-link">({{ total_reviews }})</a>
							</div>
							{% endif %}
							{% if oct_ultrastore_data.product_wishlist is defined or oct_ultrastore_data.product_compare is defined %}
							<div class="btn-group us-product-compare-wishlist">
								{% if oct_ultrastore_data.product_wishlist is defined and oct_ultrastore_data.product_wishlist == 'on' %}
								<button type="button" data-toggle="tooltip" class="compare-wishlist-btn" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><i class="far fa-heart"></i></button>
								{% endif %}
								{% if oct_ultrastore_data.product_compare is defined and oct_ultrastore_data.product_compare == 'on' %}
								<button type="button" data-toggle="tooltip" class="compare-wishlist-btn" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><i class="fas fa-sliders-h"></i></button>
								{% endif %}
							</div>
							{% endif %}
						</div>
						<div class="us-product-info order-1">
							<ul class="us-product-info-list list-unstyled">
								{% if manufacturer %}
								<li class="us-product-info-item us-product-info-item-manufacturer">{{ text_brand }}: <a href="{{ manufacturers }}" class="us-product-link us-product-info-item-link">{{ manufacturer }}</a></li>
								{% endif %}
								{% if oct_ultrastore_data.product_model is defined and oct_ultrastore_data.product_model == 'on' %}
								<li class="us-product-info-item us-product-info-item-model">{{ text_model }} <span class="us-product-info-code">{{ model }}</span></li>
								{% endif %}
								{% if sku and (oct_ultrastore_data.product_sku is defined and oct_ultrastore_data.product_sku == 'on') %}
								<li class="us-product-info-item us-product-info-item-sku">{{ oct_live_search_sku }} <span class="us-product-info-code">{{ sku }}</span></li>
								{% endif %}
								{% if reward %}
								<li class="us-product-info-item us-product-info-item-reward">{{ text_reward }} <span class="us-product-info-code">{{ reward }}</span></li>
								{% endif %}
								<li class="us-product-info-item us-product-info-item-stock{% if out_of_stock %} us-out-of-stock{% endif %}">{{ text_stock }} <span class="us-product-info-is">{{ stock }}</span></li>
							</ul>
							{% if price %}
							<div class="us-price-block{% if not special %} us-price-block-not-special{% endif %} d-flex align-items-center">
								{% if not special %}
								<div class="us-price-actual">{{ price }}</div>
								{% else %}
								<div class="us-price-new">{{ special }}</div>
								<div class="us-price-old">{{ price }}</div>
								{% endif %}
							</div>
							{% if tax %}
							<div class="us-product-points">{{ text_tax }} {{ tax }}</div>
							{% endif %}
							{% if points %}
							<div class="us-product-points">{{ text_points }} {{ points }}</div>
							{% endif %}
							{% if discounts %}
							{% for discount in discounts %}
							<div class="us-product-points">{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</div>
							{% endfor %}
							{% endif %}
							{% endif %}
						</div>
						{% if oct_attributs %}
						<div class="us-product-attr order-3 order-md-2">
							<div class="us-product-attr-top d-flex justify-content-between align-items-center">
								<div class="us-product-attr-title">{{ oct_product_attributes }}</div>
								<a href="javascript:;" onclick="scrollToElement('#us-product-attributes');" class="us-product-link">{{ oct_product_all_attributes }}</a>
							</div>
							<div class="us-product-attr-cont">
							{% for attribute in oct_attributs %}
								<div class="us-product-attr-item d-flex justify-content-between">
									<span>{{ attribute.name }}:</span>
									<span>{{ attribute.text }}</span>
								</div>
							{% endfor %}
							</div>
						</div>
						{% endif %}
						<div id="product" class="us-product-action d-lg-flex justify-content-between order-2 order-md-3">
							<div class="us-product-action-left">
								{% if options %}
								<div class="us-product-option" id="us-product-options-box">
									<div class="us-product-option-title">{{ text_option }}</div>
									{% for option in options %}
									{% if option.type == 'select' %}
									<div class="form-group">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="us-acc-select">
											<option value="">{{ text_select }}</option>
											{% for option_value in option.product_option_value %}
											<option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
												{% if option_value.price %}
												({{ option_value.price_prefix }}{{ option_value.price }})
												{% endif %}
											</option>
											{% endfor %}
										</select>
									</div>
									{% endif %}
									{% if option.type == 'radio' and option.is_description == 1 %}
									<div class="form-group">
										<label class="control-label">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<div id="input-option{{ option.product_option_id }}" class="options-box d-xl-flex flex-wrap align-items-center">
											{% for option_value in option.product_option_value %}
											<div class="radio_list">
												<input type="radio" id="i{{ option_value.product_option_value_id }}" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
												<label for="i{{ option_value.product_option_value_id }}" class="optid {{ option.product_option_id }} not-selected">
													<span class="name">
														{{ option_value.name }}
														{% if option_value.description %}
															<i>
																<svg width="486" height="486" viewBox="0 0 486 486" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M184.177 190.4V179.2H280.977V348.4C280.977 357.467 281.377 362.933 282.177 364.8C282.977 366.4 285.51 367.467 289.777 368L311.777 370.8V382H184.177V370.8L206.177 368C210.443 367.467 212.977 366.4 213.777 364.8C214.577 362.933 214.977 357.467 214.977 348.4V212.8C214.977 203.733 214.577 198.4 213.777 196.8C212.977 194.933 210.443 193.733 206.177 193.2L184.177 190.4Z" fill="#71BE00"/>
																	<path d="M221.061 153.315C226.985 159.238 234.778 162.2 244.443 162.2C253.795 162.2 261.589 159.238 267.824 153.315C274.059 147.08 277.177 139.13 277.177 129.466C277.177 119.802 274.059 112.008 267.824 106.085C261.589 100.162 253.795 97.2 244.443 97.2C234.778 97.2 226.985 100.162 221.061 106.085C215.138 112.008 212.177 119.802 212.177 129.466C212.177 139.13 215.138 147.08 221.061 153.315Z" fill="#71BE00"/>
																	<circle cx="243" cy="243" r="223" stroke="#71BE00" stroke-width="40"/>
																</svg>
															</i>
														{% endif %}
													</span>
													<span class="price">{{ option_value.price }}</span>

												</label>
												<div class="o_description">
													<i class="close">x</i>
													<div>
														{{ option_value.description }}
													</div>
												</div>

												<script>
													$(document).ready(function() {
														$(document).on('touchstart click', '.radio_list label .name i', function(event){
															$(this).parent().parent().parent().append('<div class="overflow_descr"></div>');
															$(this).parent().parent().parent().find('.o_description').show();
														});
														$(document).on('touchstart click', '.o_description .close', function(event){
															$('.overflow_descr').remove();
															$(this).parent().hide();
														});
													});
												</script>
											</div>
											{% endfor %}
										</div>
									</div>
									{% elseif option.type == 'radio' %}
									<div class="form-group">
										<label class="control-label">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<div id="input-option{{ option.product_option_id }}" class="options-box d-xl-flex flex-wrap align-items-center">
											{% for option_value in option.product_option_value %}
											<div class="radio">
												<label data-toggle="tooltip" data-trigger="hover" class="optid {{ option.product_option_id }} not-selected{% if option_value.image %} radio-img{% endif %}" {% if option_value.price %}title="{{ option_value.price_prefix }}{{ option_value.price }}"{% endif %}>
												<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" class="d-none" />
												{% if option_value.image %}
												<img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}"  />
												{% else %}
												{{ option_value.name }}
												{% endif %}
												</label>
												<script>
													$(document).ready(function() {
														$(document).on('touchstart click', 'label.optid.{{ option.product_option_id }}', function(event){
															$('label.optid.{{ option.product_option_id }}').removeClass('selected').addClass('not-selected');
															$(this).removeClass('not-selected').addClass('selected');
														});
													});
												</script>
											</div>
											{% endfor %}
										</div>
									</div>
									{% endif %}
									{% if option.type == 'checkbox' %}
									<div class="us-form-checkbox-group">
										<div class="control-label">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</div>
										<div id="input-option{{ option.product_option_id }}">
											{% for option_value in option.product_option_value %}
											<div class="checkbox">
												<input type="checkbox" id="option[{{ option.product_option_id }}][{{ option_value.product_option_value_id }}]" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" class="us-form-checkbox-input" />
												<label for="option[{{ option.product_option_id }}][{{ option_value.product_option_value_id }}]" class="d-flex align-items-center">{% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
												<span>{{ option_value.name }}
												{% if option_value.price %}
												({{ option_value.price_prefix }}{{ option_value.price }})
												{% endif %}</span></label>
											</div>
											{% endfor %}
										</div>
									</div>
									{% endif %}
									{% if option.type == 'text' %}
									<div class="form-group">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
									</div>
									{% endif %}
									{% if option.type == 'textarea' %}
									<div class="form-group">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
									</div>
									{% endif %}
									{% if option.type == 'file' %}
									<div class="form-group">
										<label class="control-label">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="us-module-btn"><i class="fa fa-upload"></i> {{ button_upload }}</button>
										<input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
									</div>
									{% endif %}
									{% if option.type == 'date' %}
									<div class="form-group">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<div class="input-group date">
											<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
											<span class="input-group-btn">
											<button class="us-module-btn" type="button"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
									</div>
									{% endif %}
									{% if option.type == 'datetime' %}
									<div class="form-group">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<div class="input-group datetime">
											<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
											<span class="input-group-btn">
											<button type="button" class="us-module-btn"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
									</div>
									{% endif %}
									{% if option.type == 'time' %}
									<div class="form-group">
										<label class="control-label" for="input-option{{ option.product_option_id }}">{% if option.required %}<span class="required">*</span> {% endif %}{{ option.name }}</label>
										<div class="input-group time">
											<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
											<span class="input-group-btn">
											<button type="button" class="us-module-btn"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
									</div>
									{% endif %}
									{% endfor %}
								</div>
								{% endif %}
								{% if recurrings %}
								<div class="us-product-option">
									<div class="us-product-option-title">{{ text_payment_recurring }}</div>
									<div class="form-group required">
										<select name="recurring_id" class="form-control">
											<option value="">{{ text_select }}</option>
											{% for recurring in recurrings %}
											<option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
											{% endfor %}
										</select>
										<div class="help-block" id="recurring-description"></div>
									</div>
								</div>
								{% endif %}
								<div class="us-product-quantity">
									<label class="control-label product-quantity-label" for="input-quantity">{{ entry_qty }}:</label>
									<div class="btn-group us-product-quantity" role="group">
										<button type="button" class="us-product-quantity-btn" onclick="updateValueProduct(true, false, false);">-</button>
										<input type="text" class="form-control" name="quantity" value="{{ minimum }}" id="input-quantity" />
										<input type="hidden" name="product_id" value="{{ product_id }}" />
										<button type="button" class="us-product-quantity-btn" onclick="updateValueProduct(false, true, false);">+</button>
										<input type="hidden" id="min-product-quantity" value="{{ minimum }}" name="min_quantity">
										<input type="hidden" id="max-product-quantity" value="{{ max_quantity }}" name="max_quantity">
									</div>
									{% if minimum > 1 %}
									<div class="us-product-minimum"><i class="fas fa-info-circle"></i> {{ text_minimum }}</div>
									{% endif %}
								</div>
								<button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="us-product-btn us-product-btn-active">{{ button_cart }}</button>
								{% if product_js_button is defined and product_js_button %}
								<div class="us-product-social-buttons">{{ product_js_button }}</div>
								{% endif %}
							</div>
							{% if (oct_ultrastore_data.product_advantage is defined and oct_ultrastore_data.product_advantage == 'on') and (oct_product_advantages is defined and oct_product_advantages is not empty) %}
							<div class="us-product-action-right">
								{% for advantage in oct_product_advantages %}
								<div class="us-product-advantages-item d-flex justify-content-between align-items-center">
									<div class="us-product-advantages-icon">
										<i class="{{ advantage.icone }}"></i>
									</div>
									<div class="us-product-advantages-cont">
										<a href="{{ advantage.link }}" {% if advantage.information_id and advantage.popup %}data-rel="{{ advantage.information_id }}"{% else %}target="_blank"{% endif %} class="us-product-advantages-link{% if advantage.popup %} agree{% endif %}" >{{ advantage.title }}</a>
										<p class="us-product-advantages-text">{{ advantage.text }}</p>
									</div>
								</div>
								{% endfor %}
							</div>
							{% endif %}
						</div>
					</div>
				</div>
				<ul class="us-product-description-nav list-unstyled d-flex align-items-center">
					{% if description %}
					<li class="us-product-nav-item us-product-nav-item-active">
						<a href="javascript:;">{{ oct_product_maintab }}</a>
					</li>
					{% endif %}
					{% if attribute_groups %}
					<li class="us-product-nav-item{% if not description %} us-product-nav-item-active{% endif %}">
						<a href="javascript:;" onclick="scrollToElement('#us-product-attributes');">{{ tab_attribute }}</a>
					</li>
					{% endif %}
					{% if (dop_tab.title is defined and dop_tab.title) and (dop_tab.text is defined and dop_tab.text) %}
					<li class="us-product-nav-item">
						<a href="javascript:;" onclick="scrollToElement('#us-related-dop_tab-row');">{{ dop_tab.title }}</a>
					</li>
					{% endif %}
					{% if oct_product_extra_tabs %}
					{% set key = 0 %}
					{% for extra_tab in oct_product_extra_tabs %}
					{% set key = key + 1 %}
					<li class="us-product-nav-item">
						<a href="javascript:;" onclick="scrollToElement('#us-product-extra-tab-{{ key }}');">{{ extra_tab.title }}</a>
					</li>
					{% endfor %}
					{% endif %}
					{% if review_status %}
					<li class="us-product-nav-item{% if not description and not attribute_groups %} us-product-nav-item-active{% endif %}">
						<a href="javascript:;" onclick="scrollToElement('#us-product-page-reviews');">{{ tab_review }}</a>
					</li>
					{% endif %}
					{% if oct_products %}
					<li class="us-product-nav-item">
						<a href="javascript:;" onclick="scrollToElement('#us-related-products-row');">{{ oct_product_related }}</a>
					</li>
					{% endif %}
				</ul>
				{% if description %}
				<div class="us-product-description-cont">
					{{ description }}
					{% if tags %}
					<p class="us-product-tags">{{ text_tags }}
						{% for i in 0..tags|length %}
						{% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
						{% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
						{% endfor %}
					</p>
					{% endif %}
				</div>
				{% endif %}
				{% if attribute_groups %}
				<div id="us-product-attributes" class="us-product-attributes">
					{% if description %}<div class="us-page-main-title">{{ oct_product_attributes_tab }}</div>{% endif %}
					{% for attribute_group in attribute_groups %}
					<div class="us-product-attributes-cont">
						<div class="us-product-attributes-title">{{ attribute_group.name }}</div>
						{% for attribute in attribute_group.attribute %}
						<div class="us-product-attr-item d-flex justify-content-between">
							<span>{{ attribute.name }}</span>
							<span>{{ attribute.text }}</span>
						</div>
						{% endfor %}
					</div>
					{% endfor %}
				</div>
				{% endif %}
				{% if (dop_tab.title is defined and dop_tab.title) and (dop_tab.text is defined and dop_tab.text) %}
				<div id="us-related-dop_tab-row" class="us-product-description-cont">
					<div class="us-page-main-title">{{ dop_tab.title }}</div>
					{{ dop_tab.text }}
				</div>
				{% endif %}
				{% if oct_product_extra_tabs %}
				{% set key = 0 %}
				{% for extra_tab in oct_product_extra_tabs %}
				{% set key = key + 1 %}
				<div id="us-product-extra-tab-{{ key }}" class="us-product-extra-tab-content">
					<div class="us-page-main-title">{{ extra_tab.title }}</div>
					{{ extra_tab.text }}
				</div>
				{% endfor %}
				{% endif %}
				{% if review_status %}
				<div id="us-product-page-reviews" class="us-reviews">
					<div class="row">
						<div class="col-12">
							<div class="us-reviews-top d-flex justify-content-between align-items-start">
								<div class="us-page-main-title">{{ tab_review }}</div>
								{% if review_guest %}
								<button type="button" class="us-module-btn us-module-btn-green" data-toggle="modal" data-target="#us-review-modal">{{ text_write }}</button>
								<div class="modal" id="us-review-modal" tabindex="-1" role="dialog" aria-labelledby="us-review" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<div class="modal-title" id="us-review">{{ text_write }}</div>
												<button type="button" class="us-close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true" class="us-modal-close-icon us-modal-close-left"></span>
												<span aria-hidden="true" class="us-modal-close-icon us-modal-close-right"></span>
												</button>
											</div>
											<div class="modal-body us-modal-body-one-click">
												<form id="form-review" class="d-flex">
													<div class="us-modal-body-one-click-left text-center">
														<img src="{{ thumb }}" class="us-modal-body-img" title="{{ heading_title }}" alt="{{ heading_title }}">
														<div class="product_title">{{ heading_title }}</div>
														<div class="us-review-block d-flex align-items-center justify-content-center">
															<div class="control-label">{{ entry_rating }}</div>
															<div class="us-module-rating-stars d-flex align-items-center">
																<label class="us-module-rating-star"><input class="d-none" type="radio" name="rating" value="1" /></label>
																<label class="us-module-rating-star"><input class="d-none" type="radio" name="rating" value="2" /></label>
																<label class="us-module-rating-star"><input class="d-none" type="radio" name="rating" value="3" /></label>
																<label class="us-module-rating-star"><input class="d-none" type="radio" name="rating" value="4" /></label>
																<label class="us-module-rating-star"><input class="d-none" type="radio" name="rating" value="5" /></label>
															</div>
															<script>
																$(document).ready(function() {
																	$('#form-review .us-module-rating-star').on('click', function () {
																		if ($(this).hasClass('us-module-rating-star-is')){
																			$(this).nextAll().removeClass('us-module-rating-star-is');
																		} else {
																			$(this).addClass('us-module-rating-star-is');
																			$(this).prevAll().addClass('us-module-rating-star-is');
																		}
																	});
																});
															</script>
														</div>
													</div>
													<div class="us-modal-body-one-click-right">
														<div class="form-group-20">
															<input type="text" name="name" class="form-control" id="InputName" placeholder="{{ entry_name }}">
														</div>
														<div class="form-group-10">
															<textarea id="input-review" name="text" class="form-control" placeholder="{{ oct_product_yourreview }}"></textarea>
														</div>
														<div class="us-modal-comment">{{ text_note }}</div>
														<div class="form-group-20">
															{{ captcha }}
														</div>
														<div class="btn-group" role="group" aria-label="us-cont-btn">
															<button type="button" id="button-review" class="us-module-btn us-module-btn-green">{{ button_continue }}</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div id="review">
						{% if oct_reviews_list is not empty %}
						{{ oct_reviews_list }}
						{% endif %}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% if oct_products %}
	{{ oct_products }}
	{% endif %}
	{{ content_bottom }}
</div>
{% if oct_is_youtube is defined and oct_is_youtube %}
<script>
function findVideos() {
	let videos = document.querySelectorAll('.us-video');

	for (let i = 0; videos.length > i; i++) {
		setupVideo(videos[i]);
	}
}

function setupVideo(video) {
	let link = video.querySelector('.us-video__link');
	let media = video.querySelector('.us-video__media');
	let button = video.querySelector('.us-video__button');
	let id = parseMediaURL(media);

	video.addEventListener('click', () => {
		let iframe = createIframe(id);

		link.remove();
		button.remove();
		video.appendChild(iframe);
	});

	link.removeAttribute('href');
	video.classList.add('us-video--enabled');
}

function parseMediaURL(media) {
	let regexp = /https:\/\/i\.ytimg\.com\/vi\/([a-zA-Z0-9_-]+)\/maxresdefault\.jpg/i;
	let url = media.src;
	let match = url.match(regexp);

	return match[1];
}

function createIframe(id) {
	let iframe = document.createElement('iframe');

	iframe.setAttribute('allowfullscreen', '');
	iframe.setAttribute('allow', 'autoplay');
	iframe.setAttribute('src', generateURL(id));
	iframe.classList.add('us-video__media');

	return iframe;
}

function generateURL(id) {
	let query = '?rel=0&showinfo=0&autoplay=1';

	return 'https://www.youtube.com/embed/' + id + query;
}

findVideos();
</script>
{% endif %}
<script>
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		cache: false,
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
</script>
<script>
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		cache: false,
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					let errorOption = '';
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
						errorOption += '<div class="alert-text-item">' + json['error']['option'][i] + '</div>';
					}
					usNotify('danger', errorOption);
				}

				if (json['error']['error_warning']) {
					usNotify('danger', json['error']['error_warning']);
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				if (json['isPopup']) {
					octPopupCart();
				} else {
					usNotify('success', json['success']);
				}

				if(typeof octYandexEcommerce == 'function') {
					octYandexEcommerce(json);
		        }

				// Need to set timeout otherwise it wont update the total
				setTimeout(function () {
					$('#oct-cart-quantity, .header-cart-index, #mobile_cart_index').html(json['total_products']);
					$('.us-cart-text').html(json['total_amount']);
				}, 100);
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
</script>
<script>
{% if oct_datetimepicker is defined and oct_datetimepicker %}
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false,
	icons: {
		time: 'fa fa-clock',
		date: 'fa fa-calendar-alt',
		up: 'fa fa-arrow-up',
		down: 'fa fa-arrow-down',
		previous: 'fa fa-chevron-left',
		next: 'fa fa-chevron-right',
		today: 'fa fa-calendar-check',
		clear: 'fa fa-trash-alt',
		close: 'fa fa-times'
	}
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true,
	icons: {
		time: 'fa fa-clock',
		date: 'fa fa-calendar-alt',
		up: 'fa fa-arrow-up',
		down: 'fa fa-arrow-down',
		previous: 'fa fa-chevron-left',
		next: 'fa fa-chevron-right',
		today: 'fa fa-calendar-check',
		clear: 'fa fa-trash-alt',
		close: 'fa fa-times'
	}
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false,
	icons: {
		time: 'fa fa-clock',
		date: 'fa fa-calendar-alt',
		up: 'fa fa-arrow-up',
		down: 'fa fa-arrow-down',
		previous: 'fa fa-chevron-left',
		next: 'fa fa-chevron-right',
		today: 'fa fa-calendar-check',
		clear: 'fa fa-trash-alt',
		close: 'fa fa-times'
	}
});
{% endif %}

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
</script>
<script>
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

//$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		cache: false,
		data: $('#form-review').serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				usNotify('danger', json['error']);
			}

			if (json['success']) {
				usNotify('success', json['success']);
				$('#us-review-modal').modal('hide');
				$('input[name=\'name\']').val('');
				$('#InputPluces').val('');
				$('#InputMinuces').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
				$('.us-module-rating-star-is').removeClass('us-module-rating-star-is');
			}
		}
	});
});

$('#input-quantity').on('change',function(e){
	updateValueProduct(false, false, true);
});

function updateValueProduct(minus, plus, manual) {
	let min = parseInt($('#input-quantity').val());
	let currentMinimum = parseInt($('#min-product-quantity').val());
	let max = parseInt($('#max-product-quantity').val());

	if(max === 0) return;

	if (minus && min > 1) {

		if (min <= currentMinimum) {
			$('#input-quantity').val(currentMinimum);
			updateProductPrice();
			return;
		} else if (min > max) {
			$('#input-quantity').val(max);
			updateProductPrice();
			return;
		}

		$('#input-quantity').val(~~$('#input-quantity').val()-1);
	}

	if (plus) {
		if(max && min > max-1) {
			$('#input-quantity').val(max);
			updateProductPrice();
			return;
		} else if (min < currentMinimum) {
			$('#input-quantity').val(currentMinimum);
			updateProductPrice();
			return;
		}

		$('#input-quantity').val(~~$('#input-quantity').val()+1);
	}

	if (manual) {

		if (min <= currentMinimum) {
			$('#input-quantity').val(currentMinimum);
			updateProductPrice();
			return;
		} else if (min > max) {
			$('#input-quantity').val(max);
			updateProductPrice();
			return;
		}

	}

	updateProductPrice();
}

$('#us-product-options-box input, #us-product-options-box select ').on('change', function() {
	updateProductPrice();
});

function updateProductPrice() {
	$.ajax({
		type: 'post',
		url:  'index.php?route=product/product/updatePrices',
		data: $('#product-product input[type=\'text\'], #product-product input[type=\'hidden\'], #product-product input[type=\'radio\']:checked, #product-product input[type=\'checkbox\']:checked, #product-product select'),
		dataType: 'json',
		cache: false,
		success: function(json) {
			{% if special %}
			$('#product-product .us-price-old').html(json['price']);
			$('#product-product .us-price-new').html(json['special']);
			{% else %}
			$('#product-product .us-price-actual').html(json['price']);
			{% endif %}

			{% if tax %}
			$('#us-product-modal-tax').html(json['tax']);
			{% endif %}
		}
	});
}
{% if minimum > 1 %}
updateProductPrice();
{% endif %}
</script>
{{ footer }}
